
table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}
table td {
}
table .absorbing-column {
  width: 100%;
}

.success td {
  background-color: palegreen;
}
.info td {
  background-color: lightblue;
}
.danger td {
  background-color: lightpink;
}

.usage td {
  background-color: lightyellow;
}

